body{
    background-color: honeydew;
}

h1{
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    text-align: center;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chocolate;
}

li{
    font-family: sans-serif;
}

#title{
    background-color: aliceblue;
}

#ingredients{
    border-color: black;
    border:1px solid;
    background-color: azure;
    margin: auto;
    width: 75%;
}

#procedure{
    background-color: cornsilk;
    margin: auto;
    width: 90%;
    border-color: black;
    border:1px solid;
}



