body{
    background-color: honeydew;
}

h1{
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    text-align: center;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chocolate;
}

li{
    font-family: sans-serif;
}

#title h1{
        border-bottom: 1px solid black;
    
}

#ingredients{
    border-color: black;
    border:1px solid;
    background-color: azure;
    margin: auto;
    width: 80%;
}

#utensils{
    border-color: black;
    border:1px solid;
    background-color: aquamarine;
    margin: auto;
    width: 80%;
}

#procedure{
    background-color: cornsilk;
    margin: auto;
    width: 80%;
    border-color: black;
    border:1px solid;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav{
    list-style-type: none;
    display: flex;
    background-color: gainsboro;
    margin: auto;
    width: 80%;
}

#nav li{
        display: block;
        padding: 10px 15px;
        border: solid black;
        background-color: turquoise;
        border-radius: 100px;
        margin-left: auto;
        margin-right: auto;

}

a {
    text-decoration: none;
    color: black;
}