body{
    background-image: url(opbackground.jpg);
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav ul{
    list-style-type: none;
    display: flex;
    margin: auto;
    width: 80%;

}

#nav li{
    display: block;
        padding: 10px 15px;
        border: solid black;
        background-color: turquoise;
        border-radius: 100px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#content{
    margin-right: 50%;
}

img{
    display: block;
    width: 40%;
    height: auto;
    float: left;
}