*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    

body{
    background-image: url(jeremy-bishop-G9i_plbfDgk-unsplash.jpg);
    color: white;
    font-family: Montserrat, sans-serif;
    margin: 0;
}

.landing{
    width: 80%;
    color: white;
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
}

.landing-container{
    padding: 100px 0;
}

.landing-content{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

ul{
    display: flex;
    list-style: none;
    color: white;
}


.nav-item{
    text-decoration: none;
    color: white;
    margin: 0 2em;
}

.nav-item:hover{
    opacity: .6;
}




#heading{
    margin-left: 15%;
    margin-top: 1em;
    text-decoration: underline;
}

.flex-container{
    display: flex;
    margin-left: 2%;
    margin-top: 1em;
}

.content{
    width: 70%;
    padding: 1em;
}

.content img{
    width: 10em;
    padding: 1em;
}



.heading{
   border-bottom: 1px solid white;
}

.image{
    width: 30%
}

.image img:hover{
    opacity: .5;
}

.image img{
    width: 18em;
    
}

#heading-contact{
    margin-top: 1.5em;
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

.contacts-container{
    display: flex;
    justify-content: space-around;
}

.contact-icon{
    width: 10em;
}

.contact-icon :hover{
    opacity: 0.5;
}

.contact-icon + .contact-icon{
    margin-left: 1em;
}
